# Maven 빌드 결과물 무시
/target/

# IntelliJ IDEA, VSCode 등 IDE 파일 무시
/.idea/
/.vscode/

# OS 관련 파일 무시
.DS_Store
Thumbs.db

# 환경설정 파일 무시
src/main/resources/application.properties
src/main/resources/application-*.properties

# 로그 파일
*.log
